



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    max-width: 1660px;
 background-color: #1A0B2E;
}
p{
    opacity: 0.6;
}
.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tech{
    color: aliceblue;
}
.wave{
background: linear-gradient(to right, #F7E93F, #FB09B4,#9100F8 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
 
/* }#F7E93F, #FB09B4,#9100F8; */
.nav-menu a{
    text-decoration: none;
    color: #ffff;
}
.nav-menu {
   
    list-style: none;
    text-decoration: none;
    display: flex;
    
    gap: 30px;
}
.navbar .img{
            display: none;
        }
.btn{
    width: 135px;
    border-radius: 30px;
    color: #ffffff;
    background: linear-gradient(to right,#F7E93F, #FB09B4,#9100F8);
    gap: 5px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
padding: 10px;

}
.hero{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.hero .hero-container{
    
    width: 550px;
    height: 558px;
    
   
}
.hero .hero-container .double-img{
    position: relative;
}
.hero .hero-container .double-img .relative{
    height: 350px;
    width: 350px;
    
}
.hero .hero-container .double-img .absolute{
    height: 200px;
    width: 200px;
    position: absolute;
   top:69px;
   right: 175px;
}
.hero .hero-container h1{
    width: ;
    color: #ffff;
}
.hero .hero-container p{
    width: ;
    color: #ffff;
}
.hero .hero-container .button{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.hero .hero-container .button .button2{
    color: #00FF88;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 30px;
    padding: 10px;
    display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}
.hero .hero-container .double-img .new{
    background-color: #00FF88;
    color: black;
    width: 75px;
    border-radius: 30px;
    padding: 16px 8px;
    position: absolute;
    top: 12px;
    right: 90px;
}

   
.podcast{
 background-color: #1A0B2E;
 margin-top: 0px;
}
.podcast-container{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.podcast .podcast-container .about h1{
    color: #ffff;
    font-size: 48px;
    font-weight: bold;
}
.podcast .podcast-container .about p{
    color: #ffff;
    font-size: 16px;
    line-height: 20px;
}
.podcast .podcast-container .summery{
   display: flex;
   justify-content: space-around;
   margin-bottom: 120px;
}
.podcast .podcast-container .summery h1{
  color: #00FF88;
}
.podcast .podcast-container .summery p{
  color: #ffffff;
}
.why{
 /* border: 1px solid #230E3D;  */
    text-align: center;
     background-color: #230E3D ;
   
    
}
.why .why-container {
 padding-top: 70px;
gap: 40px;
color: #ffffff;
display: grid;
place-items: center;


}
.why .why-container .card .card-1{
    grid-area: card-1;
    border-radius: 20px;
    color: #ffffff;
    background-color: #2c0e50;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}
.why .why-container .card .card-2{
    grid-area: card-2;
     border-radius: 20px;
    color: #ffffff;
    background-color: #320e5a;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}

.why .why-container .card .card-3{
    grid-area: card-3;
     border-radius: 20px;
    color: #ffffff;
    background-color: #320e5a;
 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}


.why .why-container .card .card-4{
    grid-area: card-4;
     border-radius: 20px;
    color: #ffffff;
    background-color: #320e5a;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;

}
.why .why-container .card .card-5{
    grid-area: card-5;
     border-radius: 20px;
    color: #ffffff;
    background-color: #320e5a;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}


.why .why-container .card{
   
max-width: 1200px;
 margin-bottom: 100px;
   display: grid;
   
   
   gap: 30px;
   grid-template-areas: 
   "card-1 carrd-2 card-2"
   "card-1 card-3 card-3"
   "card-4 carrd-4 card-5"
}
.feature{
    text-align: center;
    color: #ffffff;
    padding: 60px 200px;}
    

   
    

.feature .featured .videos .v-1{
    width: 380px;
    text-align: start;
    background-color:#2c0e50 ;
  margin-right: 15px;
    border-radius: 20px;
}
.feature .featured .videos .v-1 iframe{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   height: 200px;
  
}
    
.feature .featured .videos .v-1 .hh{
  padding: 20px; 
  margin-top: 0;
  margin-bottom: 0;
}
.feature .featured .videos .v-1 .pp{
  padding: 20px; 
  margin-top: 0;
  margin-bottom: 0;
}
.feature .featured .videos .v-1 .duration{
  padding: 20px; 
  color: #07cc70;
  margin-top: 0;
  margin-bottom: 0;
}

.feature .featured .videos{
   display: flex;
   justify-content: center
    gap: 10px;
  background-color: #1A0B2E;
  border-radius: 10px;
}
.feature .featured .videos .video{
    width: 380px;
    border-radius: ;
}
.feature .host{
    margin-top: 80px;
}
.feature .host .meet{
    background-color: #2c0e50;
    display: flex;
    border-radius: 25px;
    padding: 30px;
}
.feature .host .meet .name{
    text-align: start;
    margin-left: 20px;
}
.feature .host .meet .name .social{
    display: flex
}
.feature .host .meet .name .social .li{
    border: 1px solid slateblue;
    padding: 10px;
    border-radius: 50px;
    margin-right: 7px;
     display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}
.feature .host .meet .name .social .x{
    border: 1px solid slateblue;
    padding: 10px;
    border-radius: 50px;
    margin-right: 7px;
     display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}
.feature .host .meet .name .social .in{
    border: 1px solid slateblue;
    padding: 10px;
    border-radius: 50px;
    margin-right: 7px;
     display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
}
.feature .host .meet .name .social .yo{
    border: 1px solid slateblue;
    padding: 10px;
   border-radius: 50px;
    margin-right: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  } 
  footer{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #ffffff;
    background-image: url(../assets/footer-bg.png);
    background-position: center;
    background-size: cover;
  }
    footer h1{
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 0;
    }
    footer .anchor{
        display: flex;
        text-align: center;
        justify-content: center;
    }
  footer a {
   display: flex;
   gap: 8px;
   text-decoration: none;
   margin: 0 30px;
   vertical-align: middle;
   color: #ffffff;
   align-items: center;

  }
   
    footer p{
        margin-top: 50px;
    }




     @media screen and (max-width: 576px){
        .nav-menu {
            display: none;
        }
        .navbar .btn{
            display: none;
        }
       .navbar .img{
         display: block;
        }
        .hero .hero-container .double-img{
    position: relative;
}
.hero .hero-container .double-img .absolute{
    height: 200px;
    width: 200px;
    position: absolute;
   top:22%;
   right: 30%;
}



.podcast{
    display: none;
}
       
 .why .why-container .card{
    padding: 20px;
    display: grid;
     grid-template-areas:
     "card-1"
     "card-2"
     "card-3"
     "card-4"
     "card-5"
     ;
 }
.feature{
    padding: 10px;
}
.feature .host .meet img{
    width: 50%;
    margin: 0 auto;
}
.feature .featured .videos , .feature .host .meet{
    flex-direction: column;
    gap: 15px;
}
.feature .host .meet .name{
    text-align: center;
}
.feature .host .meet .name .social{
    display: flex;
    justify-content: center;
}
footer{
    background: url(../assets/footer-bg.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    
   
  }


  footer .anchor{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
   
    gap: 10px;
    

 }
     }