



body{
    max-width: 1660px;
 background-color: #1A0B2E;
}

.navbar{
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tech{
    color: aliceblue;
}
.wave{
  color:#F7E93F ;}
/* }#F7E93F, #FB09B4,#9100F8; */
.nav-menu a{
    text-decoration: none;
    color: #ffff;
}
.nav-menu {
   
    list-style: none;
    text-decoration: none;
    display: flex;
    
    gap: 30px;
}
.btn{
    width: 135px;
    border-radius: 30px;
    background-color: #F7E93F;
    gap: 5px;
display: flex;
align-items: center;
justify-content: center;
white-space: nowrap;
padding: 10px;

}
.hero{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.hero .hero-container{
    
    width: 550px;
    height: 558px;
    
   
}
.hero .hero-container .double-img{
    position: relative;
}
.hero .hero-container .double-img .relative{
    height: 350px;
    width: 350px;
    
}
.hero .hero-container .double-img .absolute{
    height: 200px;
    width: 200px;
    position: absolute;
   top:69px;
   right: 175px;
}
.hero .hero-container h1{
    width: ;
    color: #ffff;
}
.hero .hero-container p{
    width: ;
    color: #ffff;
}
.hero .hero-container .button{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.hero .hero-container .button .button2{
    color: #00FF88;
    background: none;
    border: 1px solid #00FF88;
    border-radius: 30px;
    padding: 10px;
    display: flex;
align-items: center;
justify-content: center;
gap: 4px;
}
.hero .hero-container .double-img .new{
    background-color: #00FF88;
    color: black;
    width: 75px;
    border-radius: 30px;
    padding: 16px 8px;
    position: absolute;
    top: 12px;
    right: 90px;
}

   
.podcast{
 background-color: #1A0B2E;
 margin-top: 0px;
}
.podcast-container{
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.podcast .podcast-container .about h1{
    color: #ffff;
    font-size: 48px;
    font-weight: bold;
}
.podcast .podcast-container .about p{
    color: #ffff;
    font-size: 16px;
    line-height: 20px;
}
.podcast .podcast-container .summery{
   display: flex;
   justify-content: space-around;
   margin-bottom: 120px;
}
.podcast .podcast-container .summery h1{
  color: #00FF88;
}
.podcast .podcast-container .summery p{
  color: #ffffff;
}
.why{
 /* border: 1px solid #230E3D;  */
    text-align: center;
     background-color: #230E3D ;
   
    
}
.why .why-container {
 padding-top: 70px;
gap: 40px;
color: #ffffff;
display: grid;
place-items: center;


}
.why .why-container .card .card-1{
    grid-area: card-1;
    border-radius: 8px;
    color: #ffffff;
    background-color: #2c0e50;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}
.why .why-container .card .card-2{
    grid-area: card-2;
     border-radius: 8px;
    color: #ffffff;
    background-color: #320e5a;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}

.why .why-container .card .card-3{
    grid-area: card-3;
     border-radius: 8px;
    color: #ffffff;
    background-color: #320e5a;
 
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}


.why .why-container .card .card-4{
    grid-area: card-4;
     border-radius: 8px;
    color: #ffffff;
    background-color: #320e5a;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;

}
.why .why-container .card .card-5{
    grid-area: card-5; border-radius: 8px;
    color: #ffffff;
    background-color: #320e5a;
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px;
    text-align: start;
    border: none;
}


.why .why-container .card{
   
max-width: 1200px;
 margin-bottom: 100px;
   display: grid;
   
   
   gap: 30px;
   grid-template-areas: 
   "card-1 carrd-2 card-2"
   "card-1 card-3 card-3"
   "card-4 carrd-4 card-5"
}

